<!-- Chat window -->

<div id="<%= dom_id(question) %>" class="question">
  <%= turbo_stream_from dom_id(question) %>
  <p class="message-text-outgoing"><%= question.mother_question %></p>
  <p class="message-text-incoming"><%= question.ai_answer || "..." %></p>
</div>
