<%= render "mothers/components/navbar_mother_mini" %>

<div class="container-chatbot">
  <h2 class= "m-2 text-center">Votre assistant maternel</h2>
  <div class="message-container">
    <div class="message-content-assistant" id="questions" data-controller="messages-modal scroll" data-messages-modal-target="container" data-scroll-target="container" style="scroll-behavior: auto;">
      <% @questions.each do |question| %>
        <%= render "questions/question", question: question %>
      <% end %>
    </div>
    <div id="new-question-form">
      <%= render "form", question: @question %>
      <div id="scroll-anchor"></div>
    </div>
  </div>
  </div>

  <div class="button-container">
    <%= link_to "Parler avec un expert", new_chat_path, class: "button-standard" %>
  </div>

  <p class="advising-text" style="text-align: center; width: 80vw; margin: 0 auto; padding: 1rem;">Ceci n'est pas un professionnel de santé, mais un assistant maternel qui vous aide à répondre à vos questions sur l'allaitement maternel, la maternité, et les soins du bébé.</p>

</div>
