<%= render "doctors/navbar_component/navbar_doctor_mini" %>
<div class="container-history">
  <h1>Vos discussions</h1>
  <% if @messages.present? %>
  <div class="messages-list">
    <% @messages.each do |message| %>
      <div class="message-item">
        <p><strong><%= message.sender_name %>:</strong></p>
        <p class="timestamp"><%= message.created_at.strftime("%d/%m/%Y %H:%M") %></p>
        <%= link_to "Ouvrir chat", message_path, class: "button-standard" %>
      </div>
    <% end %>
</div>
<% else %>
  <h3>Aucun message trouvé.</h3>
<% end %>
</div>
