<div class="info-window-container">
<h6><%= safe_place.name %></h6>
<div class="info-window-content">
<p><%= safe_place.adress %></p>
<%= link_to "Voir le lieu", safe_place_path(safe_place), class: "link" %>
</div>
</div>





