<div class="card-feed">
<div>
<%  if feed.type == "Tirage" %>
  <i class="fa-solid fa-person-dress" style="color:#FBC4AB;font-size:32px;margin-left:8px"></i>
<% else %>
  <i class="fa-solid fa-person-breastfeeding" style="color:#FBC4AB;font-size:32px;margin-left:8px"></i>
<% end %>
</div>
  <h3 class="card-child-name"><%= feed.created_at %></h3>
  <%  if feed.type == "Tétée" %>
    <h3 class="card-child-name"><%= @children.find(feed.child_id) %></h3>
  <% end %>
<div class="card-child-content">
<%= link_to edit_mother_feed(@mother, feed) do %>
  <i class="fa-solid fa-pencil" style="font-size:24px"></i>
  <% end %>
  <%= link_to mother_feed(@mother, feed), data: { turbo_method: :delete, turbo_confirm: "voulez vous vraiment supprimer cette activité ?" } do %>
  <i class="fa-solid fa-child-reaching" style="font-size:24px"></i>
  <% end %>
</div>
</div>
