<div class="card-feed">
<div>
<%  if feed.nursy_type == "Tirage" %>
  <i class="fa-solid fa-person-dress" style="color:#FBC4AB;font-size:32px;margin-left:8px"></i>
<% else %>
  <i class="fa-solid fa-person-breastfeeding" style="color:#FBC4AB;font-size:32px;margin-left:8px"></i>
<% end %>
</div>
<div class="card-feed-title">
  <h4 class="card-child-name"><%= feed.created_at.strftime("%m/%d/%Y") %></h3>
  <%  if feed.nursy_type == "Tétée" && feed.child.present? %>
    <h4 class="card-child-name"><%= feed.child.first_name %></h3>
  <% end %>
  </div>
<div class="card-feed-content">
<%= link_to edit_mother_feed_path(@mother, feed) do %>
  <i class="fa-solid fa-pencil" style="font-size:16px"></i>
  <% end %>
  <%= link_to mother_feed_path(feed, @mother), data: { turbo_method: :delete, turbo_confirm: "voulez vous vraiment supprimer cette activité ?" } do %>
  <i class="fa-solid fa-trash" style="font-size:16px"></i>
  <% end %>
</div>
</div>
