<%= render "mothers/components/navbar_mother_mini" %>
<div class="home-header" >
  <h1 class="feed-title">Historique</h1>
</div>
<div class="home-container-feed">
 <% @feeds.each do |feed|  %>
<%= render "card_feed", feed: feed %>
<% end %>
</div>
