<%= render "mothers/components/navbar_mother" %>
<div class="container">
<div>
<h1>Nouvelle Tétée</h1>
</div>
    <div data-controller="chronometer">
      <span data-chronometer-target="output">00:00</span>
    </div>
  </div>
  <div>
  button
</div>


<%#= render "components/modal_card" %>
