
<button class="button-standard">
  <%= link_to 'Text here', '#' %>
</button>

<button class="button-standard-dark">
  <%= link_to 'Text here', '#' %>
</button>

<button class="button-big-standard">
  <%= link_to 'Text here', '#' %>
</button>

<%# //// Menu Button Do not change //// %>

 <%# <button class="menu__icon button-menu" data-bs-toggle="collapse" data-bs-target="#menu">
    <span></span>
    <span></span>
    <span></span>
  </button> %>

<%# ////////////////////////// %>
