<!-- Message window -->
 <%= turbo_frame_tag "redirect_chat_window" do %>
   <h1>Ditez nous avec qui vous voulez parler ?</h1>
<div class="message-window">
<button class="button-standard">
    <%= link_to "Chat avec un médecin", messages_path %>
</button>

<button class="button-standard">
    <%= link_to "Chat avec l'assistant", questions_path %>
</button>
</div>

<% end %>