<!-- Message window -->

  <div class="message-content" data-controller="messages-modal" data-messages-modal-target="messageWindow">
    <p class="message-text-incoming">Message de incoming 1</p>
    <p class="message-text-outgoing">Message de outgoing 2</p>
    <p class="message-text-incoming">Message de incoming 3</p>
    <p class="message-text-outgoing">Message de outgoing 4</p>
    <p class="message-text-incoming">Message de incoming 5</p>
    <p class="message-text-outgoing">Message de outgoing 6</p>
    <p class="message-text-incoming">Message de incoming 7</p>
    <p class="message-text-outgoing">Message de outgoing 8</p>
    <p class="message-text-incoming">Message de incoming 9</p>
    <p class="message-text-outgoing">Message de outgoing 10</p>
    <p class="message-text-incoming">Message de incoming 11</p>
    <p class="message-text-outgoing">Message de outgoing 12</p>
    <p class="message-text-incoming">Message de incoming 13</p>
    <p class="message-text-outgoing">Message de outgoing 14</p>
    <p class="message-text-incoming">Message de incoming 15</p>
    <p class="message-text-outgoing">Message de outgoing 16</p>
    <p class="message-text-incoming">Message de incoming 17</p>
    <p class="message-text-outgoing">Message de outgoing 18</p>
    <p class="message-text-incoming">Message de incoming 19</p>
    <p class="message-text-outgoing">Message de outgoing 20</p>
  </div>
