<!-- Button trigger modal -->
<button type="button" class="button-standard" data-bs-toggle="modal" data-bs-target="#ModalMother">
 <a href=""> Launch modal</a>
</button>

<!-- Modal -->
<div class="modal fade" id="ModalMother" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <%# <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
      </div> %>
      <div class="modal-body">
        ...INSERT TURBO HERE...
        <!-- simple form with label on the left and input on the right -->
        <div class="row">
        <h1>Total:</h1> <!--timer-->
        </div>
        <form action="" method="post">
          <div class="form-group">
            <label for="Leftboob" class="form-label"><h1>Gauche</h1></label>
            <div>
              <input type="number" class="form-control" id="Leftboob" placeholder="10ml">
            </div>
          </div>
          <div class="form-group">
            <label for="Rightboob" class="form-label"><h1>Droite</h1></label>
            <div>
              <input type="number" class="form-control" id="Rightboob" placeholder="10ml">
            </div>
        </div>
        <div class="form-group">
            <label for="commentary" class="form-label"><h1>Commentaire</h1></label>
            <div>
              <input type="text" class="form-control" id="commentary" placeholder="Noticed something?">
            </div>
          </div>
        <button type="submit" class="button-standard"><a href="">Valider</a></button>
      </form>
      <div class="modal-footer border-top-0">
        <button type="button" class="button-standard" data-bs-dismiss="modal"><a href="">Close</a></button>
        <button type="button" class="button-standard-dark"><a href="">Save changes</a></button>
      </div>
    </div>
  </div>
</div>
