<%= turbo_frame_tag "edit-mother-details" do %>

<div class="home-header" >
  <h1 class="feed-title">Ajoutez votre enfant</h1>
</div>
<div class="home-container-feed">
  <p>Vous pouvez ajouter un enfant pour suivre ses tétées.</p>
<%= render "form_child", mother: @mother, child: @child %>
</div>
<% end %>
