// Specific CSS for your home-page
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 8vh);
  padding: 5rem 2.3rem 0 2.3rem;
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}



.welcome-text {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 900;
    font-size: 48px;
    color: $final-darker;

    @media (max-width: 768px) {
        font-size: 48px;
    }
  }

.home-text {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: $final-darker;
    margin-bottom: 1rem;

    @media (max-width: 768px) {
        font-size: 16px;
        margin-bottom: 0.5rem;
    }
}

.phone-mockup {
    display: flex;
    justify-content: center;
    position: relative;

}

.phone-mockup-image {
    height: 400px;
    width: 100%;
    object-fit: cover;
}
