.mothers-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 2.3rem;
      margin-top: 1rem;
      flex-wrap: wrap;
      align-content: center;

    @media (max-width: 768px) {
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;

    }
  }

  .button-container-mothers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;

  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;

  }
}
.first-pill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .nav-bar-mother {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    background-color: var(--bg-mid);
    height: 50vh;
    box-shadow: 0 4px 4px rgba(var(--bg-mid), 0.25);
    border-radius: 0 0 25px 25px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;

    &.active {
      height: 98vh;
      transition: height 0.3s ease;

      .menu-bar-display {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

.nav-bar-mother-mini {
  padding: 10px;
  border-radius: 0 0 25px 25px;
  background-color: var(--bg-mid);
  transition: height 0.3s ease;
  position: relative;
  overflow: hidden;

  &.active {
    height: 98vh;
    transition: height 0.3s ease;

    .menu-bar-display {
      opacity: 1;
      pointer-events: all;
    }
  }}

.nouvelle_tete {
  transition: opacity 0.3s ease;

  &.active {
    display: none;
  }
}

.user_welcome {
  transition: opacity 0.3s ease;

  &.active {
    display: none;
  }
}

// *** Menu Button ***
// DO NOT TOUCH THIS BUTTON, IT IS USED IN THE NAVBAR AND IT IS RESPONSIBLE FOR THE RESPONSIVE MENU //

.nav-bar-mother.active .menu__icon span:nth-child(1) {
  transform: translateY(7.5px) rotate(-45deg);
}

.nav-bar-mother.active .menu__icon span:nth-child(2) {
  width: 0;
  opacity: 0;
}

.nav-bar-mother.active .menu__icon span:nth-child(3) {
  transform: translateY(-7.5px) rotate(45deg);
}

/* ============================ */

.avatar-mother {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.mother-details {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--text-darker);
    padding: 1rem;
  }

  h3, h6, h4 {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    color: var(--text-darker);
  }

  .mother-details-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .mother-details-feeds {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.mother-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--bg-light);
  border-radius: 25px;
  padding: 1rem;
}

.pill-container {
 border-radius: 25px;
 padding: 1rem;
 margin: 1rem;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 gap: 1rem;
 border: 3px solid var(--bg-light);
}

.notification-container h6 {
  font-size: 1rem;
}

.mother-edit-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.mother-details-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  color: var(--text-darker);
}


.pill-container-child {
 border-radius: 25px;
 padding: 1rem;
 margin: 1rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap: 1rem;
 border: 3px solid var(--bg-light);
}

.doctor-details {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--text-darker);
    padding: 1rem;
  }

  h3, h6, h4 {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    color: var(--text-darker);
  }

  .mother-details-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .mother-details-feeds {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .pill-container-doctor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--bg-light);
    border-radius: 25px;
    padding: 1rem;
    width: 100%;
}
}
