<div class="menu-bar" data-controller="menu-bar" data-menu-bar-target="menu">
<h3><i class="fa-solid fa-bars" data-action="click->menu-bar#toggle"></i></h3>
<%= image_tag "https://res.cloudinary.com/dc7iookgc/image/upload/c_crop,w_450,h_450,ar_1:1/v1748785341/profile_jy5ww4.jpg", class: "avatar" %>
</div>