<div class="nav-bar-home">
<div class="nav-bar-home-logo">
 <%= image_tag "avatar.png", class: "logo" %>
  <!--  change email for name -->
<h1>Welcome <%= @user.email %></h1>
</div>
<div class="nav-bar-home-content">

<button class="btn btn-primary">
  Sign out
</button> 
</div>
