<div class="nav-bar-home">
<%= render "shared/menu_bar" %>

<div class="">
<!--  change email for name -->
<h1 class="welcome-text">Welcome <%= @user.email %></h1>
</div>

<div class="">
<button class="btn btn-primary">
  Sign out
</button> 
</div>
</div>