<%= simple_form_for messages, url: messages_path,
      html: { data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" } } do |f| %>
  <div class="input-group mb-3 w-100">
    <div class="form-floating">
      <%= f.input :content, label: false, wrapper: false %>
      <%= f.label :content, "Dites nous ce dont vous voulez parler" %>
    </div>
    <%= f.submit "Envoyer", id: "new-question-button", class: "button-standard disabled" %>
  </div>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const formFloating = document.querySelector('.form-floating');
    const newQuestionButton = document.getElementById('new-question-button');

    if (formFloating.value === '') {
      newQuestionButton.classList.add('disabled');
    } else {
      newQuestionButton.classList.remove('disabled');
    }
  });
</script>
