<%= render "shared/navbar_home" %>

<div class="button-container">
  <button class="btn btn-alert">
    <%= link_to "Safe places", safe_places_path %>
  </button>
</div>
<%= render "components/modal_card" %>
