<div class="nav-bar-mother" data-controller="menu-bar" data-menu-bar-target="dropdown">
<%= render "mothers/components/menu_bar_mother" %>


<div class="">
<!--  change email for name -->
<h1 class="welcome-text">Welcome <%= @user.first_name %></h1>
</div>

<button class="button-home">
  <%= link_to 'Nouvelle Tetée', 'f' %>
</button> 
</div>
</div>