.message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(90vh - 8vh);
    padding: 0 2.3rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    align-content: center;
    border: 1px solid red;

      @media (max-width: 768px) {
      }
    }

.message-content {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  height: 45vh;
  width: 75vw;
  border: 2px solid $final-darker;
  overflow-y: scroll;
  scrollbar-width: none;
  border-radius: 0.5rem;
  color: $final-darker;
  background-color: #ffefe179;
  backdrop-filter: blur(2px);
  box-shadow: 15px 15px 30px rgba(200, 200, 200, 0.7),
             -15px -15px 30px rgba(225, 225, 225, 0.7);
}

.message-text-incoming {
  border: 1px solid $final-darker;
  max-width: 1/3 * 100%;
  padding: 0.5rem ;
  align-content: safe;
  align-self: flex-start;
  margin: 0.5rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0;
  background-color: $final-light;
  color: #252525;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: "Nunito", sans-serif;

}

.message-text-outgoing {
  border: 1px solid $final-white;
  border-radius: 0.5rem 0.5rem 0 0.5rem;
  max-width: 1/3 * 100%;
  padding: 0.5rem;
  align-content: safe;
  align-self: flex-end;
  margin: 0.5rem;
  color: $final-white;
  background-color: $final-darker;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: "Nunito", sans-serif;

}