.message-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  flex-wrap: wrap;
  align-content: center;
  background-color: $final-darker;
  border-radius: 2rem;
  border: 5px solid $final-dark;

  &.d-none {
    display: none;
  }

  @media (max-width: 768px) {
    /* Add responsive styles here if needed */
  }
}

.message-content {
  display: flex;
  flex-direction: column;
  height: 45vh;
  width: 75vw;
  overflow-y: scroll;
  background-color: $final-white;
  scrollbar-width: none;
  border-radius: 0.5rem;
  color: $final-darker;
  border: 4px solid $final-mid;
}

.message-text-incoming {
  border: 1px solid $final-darker;
  max-width: 1/2 * 100%;
  padding: 0.5rem;
  align-content: safe;
  align-self: flex-start;
  margin: 0.5rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0;
  background-color: $final-light;
  color: #252525;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

.message-text-outgoing {
  border: 1px solid $final-white;
  border-radius: 0.5rem 0.5rem 0 0.5rem;
  max-width: 1/2 * 100%;
  padding: 0.5rem;
  align-content: safe;
  align-self: flex-end;
  margin: 0.5rem;
  color: $final-white;
  background-color: $final-darker;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

.button-close {
  padding: 0.3rem 0.5rem;
  margin-bottom: 1rem;
  width: fit-content;
  background-color: $final-dark;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: $final-white;

  &:hover {
    background-color: $final-dark;
  }
}

.message-input-field {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}

.container-chatbot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#new-question-form {
  width: 75vw;
  margin-top: 1rem;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}

