.message-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  align-content: center;
  background-color: var(--bg-mid);
  border-radius: 16px;
  height: 450px;
  width: 50vw;

  @media (max-width: 768px) {
    height: 65vh;
    width: 90vw;
  }
}


.message-content-assistant {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: var(--bg-white);
  scrollbar-width: none;
  border-radius: 8px;
  color: var(--bg-mid);
  height: 100%;
  width: 100%;


  @media (max-width: 768px) {
    height: 400px;
  }
}

.message-text-incoming-assistant {
  border: 1px solid var(--bg-light);
  max-width: 1/2 * 100%;
  padding: 0.5rem;
  align-content: safe;
  align-self: flex-start;
  margin: 0.5rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0;
  background-color: var(--bg-light);
  color: var(--text-darkerer);
  font-size: 14px;
  font-weight: 400;
  font-family: "Nunito", sans-serif;

  @media (max-width: 768px) {
    font-size: 14px;
    max-width: 4/5 * 100%;
  }
}

.message-text-outgoing-assistant {
  border: 1px solid var(--bg-white);
  border-radius: 0.5rem 0.5rem 0 0.5rem;
  max-width: 1/2 * 100%;
  padding: 0.5rem;
  align-content: safe;
  align-self: flex-end;
  margin: 0.5rem;
  color: var(--text-white);
  background-color: var(--bg-darker);
  font-size: 14px;
  font-weight: 400;
  font-family: "Nunito", sans-serif;

  @media (max-width: 768px) {
    font-size: 14px;
    max-width: 4/5 * 100%;
  }
}

.button-close {
  padding: 0.3rem 0.5rem;
  margin-bottom: 1rem;
  width: fit-content;
  background-color: var(--bg-dark);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: var(--text-white);

  &:hover {
    background-color: var(--bg-darker);
  }
}

.message-input-field {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;

  @media (max-width: 768px) {
    height: 15%;
  }
}

.container-chatbot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#new-question-form {
  width: 100%;
  margin-top: 1rem;
}

.question {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
