.navbar {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: $final-mid;
  box-shadow: 0 4px 4px rgba(251, 196, 171, 0.25);
  min-height: 130px;
  max-height: 100%;
}
