.nav-bar {
  padding: 10px;
  border-radius: 0 0 25px 25px;
  background-color: var(--bg-light);
  height: 8vh;
  transition: height 0.3s ease;
  position: relative;
  overflow: hidden;

  &.active {
    height: 98vh;
    transition: height 0.3s ease;

    .menu-bar-display {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.menu-bar {
  display: flex;
  align-content: space-around;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  position: relative;
  z-index: 2;
}

.menu-bar-display {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  padding: 60px 20px 20px; // Top padding to avoid hamburger menu
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.menu-item {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--text-darker);
  padding: 1rem;
  transition: all 0.3s ease;
  text-align: center;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--text-darker);
    text-underline-offset: 10px;
    text-decoration-thickness: 3px;
    transform: translateY(-2px);
  }
}

.chat-button {
  font-size: 1rem;
  padding: 0.5rem;
  height: 2rem;
  width: 2rem;
  color: var(--text-darker);
  transition: all 0.3s ease;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-white);
  border-radius: 10px;
  border: 1px solid var(--bg-white);
  cursor: pointer;

  &:hover {
    background-color: var(--bg-darker);
    color: var(--text-light);
  }
}

.chat-button-archive {
   font-size: 1rem;
  padding: 0.5rem;
  color: var(--text-darker);
  transition: all 0.3s ease;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-white);
  border-radius: 10px;
  border: 1px solid var(--bg-white);
  margin-bottom: 1rem;
  gap: 0.5rem;
  cursor: pointer;

  &:hover {
    background-color: var(--bg-darker);
    color: var(--text-light);
  }
}
