.sign-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;

}

.sign-form {
  width: fit-content;
  height: fit-content;
}

.sign-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.sign-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 0.8rem;
  gap: 1rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.sign-links a {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  color: var(--text-darker);
}

.sign-links a:hover {
  color: var(--text-darker);
}
