// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: $final-white;
}

a {
  text-decoration: none;
  color: $final-darker;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  color: $final-darker;
  padding: 1rem;
}

h3, h6, h4 {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  color: $final-darker;
}

p {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}