<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'avez pas demandé cette modification, veuillez ignorer cet email.</p>
<p>Votre mot de passe ne changera pas tant que vous n'accéderez pas au lien ci-dessus et que vous ne créerez pas un nouveau mot de passe.</p>
